@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.main {
  width: 500px;
  line-height: 25px;
  border-radius: 15px;
  background-color: #058042;
}

.header {
  background-color: goldenrod;
  color: rgb(221, 19, 19);
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: rgb(221, 19, 19);
  font-family: "Recursive", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: rgb(20, 163, 230);
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.stats {
  padding: 15px;
  color: rgb(124, 12, 128);
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: rgb(240, 122, 26);
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.button {
  width: 35px;
  height: 35px;
  color: aliceblue;
}

.centered {
  /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
