@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.main {
  width: 700px;
  border-radius: 15px;
  background-color: #01579b;
}

.header {
  background-color: goldenrod;
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;
  border-radius: 15px;
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: rgb(221, 19, 19);
  font-family: "Recursive", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: rgb(20, 163, 230);
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}
